<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->

<!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
<![endif]-->

<!--[if IE 8]>
  <html class="no-js lt-ie9">
<![endif]-->

<!--[if gt IE 8]><!-->
  <html class="no-js"> 
<!--<![endif]-->

	<head>
		<title>nFXn - Flagship Retail Currency Trading Utility Application - nfxn.io</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="lib/elegant-icons/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="lib/flexslider/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="lib/pivot/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
		<link href="css/style.min.css" rel="stylesheet">
		<script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script> 
	</head>
	<body>
		<div class="full-image-background">
			<div class="main-container">
				<section class="no-pad error-page fullscreen-element">
					<div class="container align-vertical">
						<div class="row">
							<div class="col-sm-12 text-center">
								<i class="icon icon-compass"></i>
								<h1 class="jumbo">404</h1>
								<h1>"<strong style="font-style: italic;">Lost time is never found again.</strong>"<br> - Benjamin Franklin</h1>
								<a href="/" class="btn btn-primary btn-white">Return To nFXn</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="transparency"></div>
		</div>
    
	    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	    <script src="lib/flexslider/js/jquery.flexslider-min.js"></script> 
	    <script src="lib/smooth-scroll/js/smooth-scroll.min.js"></script> 
	    <script src="lib/scroll-reveal/js/scrollReveal.min.js"></script> 
	    <script src="lib/skrollr/js/skrollr.min.js"></script> 
	    <script src="lib/pivot/js/scripts.js"></script> 
  </body>
</html>
